<app-toolbar [snav]="snav"></app-toolbar>

<mat-sidenav-container class="tp-container">
  <mat-sidenav class="left-sidenav" #snav mode="over">
    <h1 style="text-align:center">MENU</h1>
      <button class="sidenav-button" mat-button>
        <mat-icon>home</mat-icon>Strona glowna
      </button>
      <button routerLink="findings" class="sidenav-button" mat-button>
        <mat-icon>assignment</mat-icon>Moje wyniki
      </button>
      <button routerLink="informations" class="sidenav-button" mat-button>
        <mat-icon>help_outline</mat-icon>Informacje dla pacjenta
      </button>
    <div style="position:fixed; bottom: 0; width: 100%;">
      LABRIO
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
