.tp-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.left-sidenav {
  width: 20%;
  background-color: dodgerblue;
  color:white;
}

.sidenav-button {
    width: 100%;
    text-align: left;
    margin: 10px;
}
